<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Exercise1</key>
		<array>
			<string>ezgif.com-gif-maker1</string>
			<string>ezgif.com-gif-maker2</string>
			<string>ezgif.com-gif-maker3</string>
			<string>ezgif.com-gif-maker4</string>
			<string>ezgif.com-gif-maker5</string>
			<string>ezgif.com-gif-maker</string>
			<string>ezgif.com-gif-maker</string>
			<string>ezgif.com-gif-maker</string>
			<string>ezgif.com-gif-maker</string>
			<string>ezgif.com-gif-maker</string>
			<string>ezgif.com-gif-maker</string>
			<string>ezgif.com-gif-maker</string>
			<string>ezgif.com-gif-maker</string>
			<string>ezgif.com-gif-maker</string>
			<string>ezgif.com-gif-maker</string>
		</array>
		<key>Exercise2</key>
		<array>
			<string>Man Doing Archer Push-Up Exercise1</string>
			<string>Man Doing Assisted Pistol Squat Exercise2</string>
			<string>Man Doing Bicycle Crunch Exercise3</string>
			<string>Man Doing Boat Hold Leg Flutters Exercise4</string>
			<string>Man Doing Butt Kicks Exercise5</string>
			<string>Man Doing Chest Tap Push-Up Exercise6</string>
			<string>Man Doing Clap Push-Up Exercise7</string>
			<string>Man Doing Cocoons Exercise8</string>
			<string>Man Doing Crab Toe Touches Exercise9</string>
			<string>Man Doing Cross Knee Tricep Extension Exercise10</string>
			<string>Man Doing Cross Tricep Extension Exercise11</string>
			<string>Man Doing Curtsy Lunge Exercise12</string>
			<string>Man Doing Dead Bug Exercise13</string>
			<string>Man Doing Dead Bug Leg Lowering Exercise14</string>
			<string>Man Doing Decline Close Push-Up Exercise15</string>
			<string>Man Doing Decline Push-Up Exercise16</string>
			<string>Man Doing Decline Wide Push-Up Exercise17</string>
			<string>Man Doing Deficit Push-Up Exercise18</string>
			<string>Man Doing Diagonal Mountain Climbers Exercise19</string>
			<string>Man Doing Dumbbell Dead Bug Exercise20</string>
			<string>Man Doing Dumbbell Russian Twist Exercise21</string>
		</array>
	</dict>
</array>
</plist>
